.body1 {
  align-items: center;
  justify-content: space-around;
}

.company_name {
  z-index: 1;
  position: absolute;
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  background-color: #0f3974b7;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: center;
  padding: 5vh 10% 5vh 5%;
}

.header {
  text-align: left;
  margin: 1vw;
  margin-bottom: 0;
  font-size: 5vw;
  font-weight: bold;
  color: white;
}

.left p {
  line-height: 1.2;
  margin-left: 1vw;
  margin-bottom: .5vh;
  margin-top: 1vh;
  font-size: 1vw;
  color: white;
}

.right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.demoSignup {
  height: 20vh;
  width: 100%;
  background-color: #ffe815;
  margin: 10px;
  padding: 10px;
  letter-spacing: 1.4px;
  font-size: 2.5vw;
  font-weight: bolder;
  transition: all .5s;
  color: #0f3974;
}

.demoSignup:hover {
  transition: all .5s;
  color: #ffe815;
  background-color: #0f3974;
  ;
}

.videoLay {
  overflow: hidden;
  height: 100vh;
  object-fit: cover;
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8393732492997199) 0%, rgba(0, 0, 0, 0.44441526610644255) 15%, rgba(0, 0, 0, 0.46682422969187676) 84%, rgba(0, 0, 0, 0.8169642857142857) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

#background-video {
  position: relative;
  object-fit: cover;
  object-position: 30% 30%;
  z-index: -5;
  width: 100vw;
  height: 100vh;
}