.body2 {
  border-top: 1px solid black;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}

.body3 {
  border-top: 1px solid black;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.body4 {
  border-top: 1px solid black;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}

.title {
  color: white;
  padding: 1vw;
  font-weight: bolder;
  background-color: #0f3974;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 2.5vw;
  text-align: right;
}

.cardContainer, .developers{
  display: flex;
  background-image: linear-gradient(120deg, #dfdfdf 0%, #dfdfdf 100%);
}

.cards {
  margin: 10px;
  padding: 10px;
  align-self: center;
}

.cardLabel {
  color: white;
  text-align: center;
  align-content: center;
  background: #0f3974;
  font-weight: bold;
  padding: 1vh;
  font-size: 2vw;
}

.cardInfo {
  margin: 1rem;
  padding: 1vh;
  font-size: 1.2vw;
  line-height: 1.3;
}

.link {
  padding: 10px;
  background: yellow;
  color: black;
}

.link:hover {
  background: #0f3974;
  color: yellow;
}

.cardLabel::after {
  position: absolute;
  content: '';
  height: 2.4px;
  width: 15%;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #fae884 0%, #fae884 100%);
  /* background-image: linear-gradient(120deg, #fae884 0%, #49b0e4 100%); */
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  /* transition: background-size 0.25s ease-in; */
}